{% extends 'Gatos/base.html' %}
{% comment %} {% endcomment %}
{% load static%}
{% block title %}{% endblock title %}


<link rel="icon" href="{% static 'css/img/fotos_gatos' %}">



{% block content %}

<div class="row principal">
    <div class="col-xs-12 col-lg-4 col-lg-12">
        <div class="sidebar1 content-center">
            <i class="fas fa-heart"></i>
            <h3 class="tituloindex">Nuestra Misión</h3>
            
                <h2 class="tituloindex"> Rescatar, rehabilitar y
                    reubicar felinos que esten en peligo,
                    situacion de calle y maltratados, para
                    darles una segunda oportunidad.</h2>
            </div>
        </div>
        <div class="contenido content-center ">
            <i class="fas fa-paper-plane"></i>
            <h3 class="tituloindex">Visión</h3>
            
                <h2 class="tituloindex">Promover la tenencia responsable
                    de animales mediante la esterilizacion,
                    adopción de animales ademas de erradicar el maltrato
                    y abandono de felinos</h2>
            </div>
        </div>
        <div class="sidebar2 content-center ">
            <i class="fas fa-star"></i>
            <h3 class="tituloindex">Valores</h3>
            
                <h2 class="tituloindex"> El amor por los animales, justicia, adopciones
                    responsables,respeto hacia ellos y empatia</h2>
            </div>
        </div>
    </div>
</div>
        {% endblock content %}